S3_BUCKET_PRD=
S3_BUCKET_DEV=
S3_BUCKET_TEST=
DOMAIN_PRD=chat.oppen.ai
DOMAIN_DEV=chat-dev.oppen.ai
DOMAIN_TEST=chat-test.oppen.ai
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CF_API_TOKEN=
CF_ZONE_ID=
